.discs {
    background-color: blueviolet;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
}

#again, #new {
    display: none;
}
/*
#new {
    display: none;
}*/